@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Tai+Le&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
}

img.background-image {
    position: absolute;
    height: 100vh;
    width: 100vw;
}

h3 {
    text-align: start;
    margin-top: 3vh;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}
h2{
    font-family: 'Noto Sans Tai Le', sans-serif;
    font-weight: bold;
    font-size: 45px;
    color: white;
}

h1 {
    margin-top: 4vh;
}

.QuestionBox {
    height: 100vh;
    width: 100vw;
}

.Options-box {
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.Options-box button {
    height: 7vh;
    width: 10vw;
    background-color: rgb(31, 29, 29);
    color: white;
    font-size: larger;
    border-radius: 40px;
}

.Options-box button:hover {
    background-color: aliceblue;
    color: black;
    transform: scale(1.1);
    transition: 0.5s;
    
}

button.Option-button {
    width: 27vw;
}

.highlightButtons {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    align-items: center;
}

.highlightButtons button {
    height: 5vh;
    width: 10vw;
    border-radius: 40px;
    font-weight: bolder;
    background-color: rgb(221, 52, 52);
}

.highlightButtons button:hover {
    background-color: red;
    color: whitesmoke;
    transform: scale(1.1);
    transition: 0.5s;
    
}

.questionBox {
    padding: 20px;
    position: relative;
    left: 27%;
    top: 15%;
    text-align: center;
    width: 45vw;
    background-color: rgba(135, 134, 133, 0.8); /* Adjust the alpha value as needed */
    box-shadow: 10px black;
    border-radius: 15px;
}

#mode {
    height: 5vh;
    width: 9vw;
    background-color: black;
    position: absolute;
    color: #fefefe;
    border-radius: 20px;
    margin-top: 5vh;
    margin-left: 88vw;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

#mode:hover {
    border: rgba(241, 244, 241, 0.815) solid 2px;
    transform: scale(1.1);
}

.ResultBox {
    height: 40vh;
    width: 50vw;
    position: relative;
    top: 200px;
    left: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 40px white;
    color: white;
    background-color: rgba(128, 125, 125, 0.8); /* Adjust the alpha value as needed */
    border-radius: 20px;
}

.ResultBox button {
    height: 7vh;
    width: 15vw;
    font-size: 18px;
    border-radius: 40px;
    background-color: rgb(219, 23, 23);
}

.ResultBox button:hover {
    background-color: red;
    border: 2px solid white;
    color: white;
    transform: scale(1.1);
    transition: 0.5s;
    
}
