html{
    background-color: grey;
}
*{
    margin: 0;
    padding: 0;
}
img.background-image{
    position: absolute;
    height: 100vh;
    width: 100vw;
}
#bg-img{
    height: 100vh;
    width: 100vw;
    position: absolute;
}
h3{
    text-align: start;
}
.QuestionBox{
    height: 100vh;
    width: 100vw;
}
.Options-box{
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.Options-box button{
    height: 7vh;
    width: 10vw;
    background-color: grey;
    color: white;
    font-size: larger;
    border-radius: 40px;
}
.Options-box button:hover{
    background-color: aliceblue;
    color: black;
}
button.Option-button{
    width: 27vw;
}
.highlightButtons{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    align-items: center;
}
.highlightButtons button{
    height: 5vh;
    width: 10vw;
    border-radius: 40px;
    font-weight: bolder;
    background-color: rgb(221, 52, 52);
}
.highlightButtons button:hover{
    background-color: red;
    color: whitesmoke;
}
.questionBox{
    padding: 20px;
    position: relative;
    left: 27%;
    top: 15%;
    text-align: center;
    width: 45vw;
    background-color: #fefefe;
    box-shadow: 10px black;
    border-radius: 15px;
}
.Header{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 10px;
}
#theme{
    height: 5vh;
    width: 9vw;
    background-color: black;
    position: absolute;
    color: #fefefe;
    border-radius: 8px;
    margin-top: 5vh;
    margin-left: 88vw;
    text-align: center;
}
.modeToggle{
    height: 5vh;
    width: 15vh;
    border-radius: 40px;
    background-color: black;
    color: white;
    transition: ease-in-out 0.4s;
}
.modeToggle:hover{
    border: rgba(31, 95, 190, 0.815) solid 2px;
    transform: scale(1.1);
}
.ResultBox{
    height: 40vh;
    width: 50vw;
    position: relative;
    top: 100px;
    left: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 40px white;
    color: white;
    background-color: rgb(51, 47, 47);
    border-radius: 20px;
}

.ResultBox button{
    height: 7vh;
    width: 15vw;
    font-size: 18px;
    border-radius: 40px;
    background-color: rgb(219, 23, 23);
}
.ResultBox button:hover{
    background-color: red;
    border: 2px solid white;
    color: white;
}




